body {
    padding-top: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr minmax(0, 624px) 1fr;
}

.grid * {
    grid-column: 2 / 3;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

article.message {
    margin-top: 1em;
}

h1 {
    font-size: 3rem;
    font-weight: 600; /* semibold*/
}

h2 {
    font-size: 2rem;
    /* margin-top: 1em; */
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h3 {
    font-size: 1.5rem;
    /* margin-top: 1em; */
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 2em;
}

li {
    margin-top: 0.5em;
}

.katex-display {
    /* horizontal scrolling on long equations */
    overflow-x: auto;
    overflow-y: hidden; /* prevent vertical scroll */
}

.responsive {
    width: 90%;
    max-width: 600px;
    height: 100%;
}

.narrow-picture {
    width: 60%;
    height: 100%;
    max-width: 600px;
}

.table-wrapper {
    overflow-x: auto;
}

hr {
    background-color: #cccccc;
    height: 1px;
}

a > img {
    padding: 1em;
}

a.navbar-item, a.navbar-item.is-active, .navbar-link, .navbar-link.is-active {
    /* text-decoration: underline solid transparent;
    transition: text-decoration 0.5s ease; */

    position: relative;
    color: #000;
    text-decoration: none;
}


/* Create expanding underline effect */
div.navbar-item-text:after {
    content: "";
    display:block;
    position: relative;
    width: 100%;
    height: 1.2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

div.navbar-item-text:hover:after {
    display:block;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
  

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    /* background-color: inherit;
    color: inherit;
    text-decoration: underline solid currentColor;
    transition: text-decoration 0.3s ease; */
    background-color: inherit;
    color: #000000;

}

a {
    /* Remove dotted outline around previously selected links */
    outline: 0;
}

