.resume-grid {
    display: grid;
    grid-template-columns: 1fr minmax(0, 900px) 1fr;
}

.resume-grid * {
    grid-column: 2 / 3;
}

hr {
    margin-bottom: 0;
    margin-top:0;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.level.degree-level {
    margin-bottom: 0;
}

.header .level {
    margin-bottom: 0 ;
}

.header {
    margin-top: 0.5em;
}

.resume-grid a {
    color: #4a4a4a;
    border-bottom: dotted 1px #000000;
    display: inline;
    padding-bottom: 0px;
}

ul {
    list-style-position: inside;
    margin-left: 1em;
}
li {
    margin-top: 0;
}

.section {
    padding-top: 1em;
}

.divider {
    margin-left: 1em;
    margin-right: 1em;
}

a.download-button {
    display: inline;
    margin: 1em;
    border: none;
}