---
title: Projects
layout: feed-page
---
<div class="section">
    <p>
        This page contains writeups of larger projects I worked on for class, for teaching, and for personal enjoyment.
    </p>
</div>
<hr>

{% for category in site.categories %}
    {% if category[0] == "projects" %}
        {% for post in category[1] %}
            <div class="block">
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="image is-5by3">
                            <img class="thumbnail-img" src="{{ post.thumbnail }}">
                        </div>
                    </div>
                    <div class="column">
                        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="subtitle">{{ post.date | date: '%B %d, %Y' }}</p>
                        <p>{{ post.excerpt }}</p> 
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
