---
title: Research
layout: feed-page
---

<!-- {% for category in site.categories %}
    {% if category[0] == "Research" %}
        {% for post in category[1] %}
            <a href="{{ post.url }}">
                <h2>{{ post.title }}</h2> 
                <p>{{ post.excerpt }}</p>
            </a>
            <hr>
        {% endfor %}
    {% endif %}
{% endfor %} -->

{% for category in site.categories %}
    {% if category[0] == "research" %}
        {% for post in category[1] %}
            <div class="block">
                <div class="columns">
                    {% if post.thumbnail %}
                        <div class="column is-one-third">
                            <div class="image is-5by3">
                                <img class="thumbnail-img" src="{{ post.thumbnail }}">
                            </div>
                        </div>
                    {% endif %}
                    <div class="column">
                        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="subtitle">{{ post.date-range }}</p>
                        <p>{{ post.excerpt }}</p> 
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
