<meta charset="UTF-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include bulma.html %}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/global.css">
<link rel="stylesheet" href="/assets/css/syntax.css">
{% include fontawesome.html %}

{% if page.katex %}
    {% include katex.html %}
{% endif %}

{% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
{% endif %}

{% include google-analytics.html %} 
