// Image styling
img {
  width: 60%;
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* Handle image captions
 * Second condition deals with the use of the .center div
 */
img + em, div+p>em {
  font-style: normal;
  font-size: smaller;
  display: block;
  text-align: center;
  font-style: italic;
}

.wide-image {
  width: 90%;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.three-image-row {
  display: inline;
  max-width: 30%;
}

.two-image-row {
  display: inline;
  max-width: 45%;
}
