.pagination-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.pagination {
  display: inline-block;
  width: 30%;
  border: none !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.pagination > a {
  width: 100% !important;
  border-radius: 10px;
}

.pagination > a:hover {
  text-decoration: none;
  background-color: $link-color;
  color: $gray-1;
  box-shadow: none;
}
