// Sidebar customization
#copyright {
  font-size: small;
}

#sidebar nav > #subscribe-link {
  // Hide the rss feed subscribe icon
  // Seems kind of hacky, but this doesn't
  //  appear to be controllable through a
  //  variable
  display: none;
}

#sidebar .site-title {
  font-family: 'Open Sans', sans-serif;
}

#sidebar a:hover {
  text-decoration: none;
}
