body {
    padding-top: 30px;
}

.content h2 {
    font-weight: normal;
}

.content figure.highlight {
    /* Bulma configures figure tags within content classes as centered. */
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 1fr minmax(0, 700px) 1fr;
}

.grid * {
    grid-column: 2 / 3;
}
.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.katex-display {
    /* horizontal scrolling on long equations */
    overflow-x: auto;
    overflow-y: hidden; /* prevent vertical scroll */
}

.responsive {
    width: 90%;
    max-width: 600px;
    height: 100%;
}

.narrow-picture {
    width: 60%;
    height: 100%;
    max-width: 600px;
}

.table-wrapper {
    overflow-x: auto;
}

hr {
    background-color: #cccccc;
    height: 1px;
}

a > img {
    padding: 1em;
}

a.navbar-item, a.navbar-item.is-active, .navbar-link, .navbar-link.is-active {
    /* text-decoration: underline solid transparent;
    transition: text-decoration 0.5s ease; */

    position: relative;
    color: #000;
    text-decoration: none;
}


/* Create expanding underline effect */
div.navbar-item-text:after {
    content: "";
    display:block;
    position: relative;
    width: 100%;
    height: 1.2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

div.navbar-item-text:hover:after {
    display:block;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
  

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    /* background-color: inherit;
    color: inherit;
    text-decoration: underline solid currentColor;
    transition: text-decoration 0.3s ease; */
    background-color: inherit;
    color: #000000;

}

a {
    /* Remove dotted outline around previously selected links */
    outline: 0;
}


/* Image styling */
img {
  width: 60%;
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* Handle image captions
 * Second condition deals with the use of the .center div
 */
img + em, div+p>em {
  font-style: normal;
  font-size: smaller;
  display: block;
  text-align: center;
  font-style: italic;
}

.tall-image {
    width: 30%;
}

.wide-image {
  width: 90%;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.three-image-row {
  display: inline;
  max-width: 30%;
}

.two-image-row {
  display: inline;
  max-width: 45%;
}